.loadingText {
  span {
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: attr(data-text);
      color: white;
      opacity: 0;
      animation: loading-text-child 5s 1;
      animation-fill-mode: forwards;
    }
    @for $i from 1 through 9 {
      &:nth-child(#{$i + 1})::after {
        animation-delay: #{$i * 0.2}s;
      }
    }
  }
}
@keyframes loading-text-child {
  0%,
  50% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}
