.guide button {
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.guide button span {
  padding: 0 6px;
  width: 50px;
}
.guide button img {
  object-position: 3px;
}
.guide button.back img {
  rotate: 180deg;
}
.guide button div {
  width: 0;
  height: 31px;
  margin-left: 0;
}
.guide button.next:hover div {
  width: 10px;
  margin-right: 8px;
}

.guide button.back:hover div {
  width: 10px;
  margin-left: 8px;
}
